/* Imports Open Sans from google font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600;700&display=swap");

/* Task List
- todo
- fixme */
* {
  box-sizing: border-box;
}
/* Rules that apply to whole html site */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8em;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* This code will limit the width that items can extend to */
#page {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

/* FONTS */

h1 {
  margin: 0;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1em;
  text-shadow: 0px 4px 4px #333;
}

h2 {
  margin: 0;
  padding: 0.5em;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 2.8em;
  font-weight: bold;
  line-height: 1.1em;
  text-align: center;
}

h3 {
  margin: 0 0 0.5em 0;
  font-size: 2em;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  margin: 0;
  padding: 0.5em;
  font-family: "Montserrat", "Open Sans", sans-serif;
  color: #007fff;
  font-size: 1em;
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: uppercase;
}

h5 {
  margin: 0 0 0.5em 0;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 2em;
  font-weight: normal;
  line-height: 1.1em;
}

h6 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
}

hr.rounded {
  border-top: 2px solid #007fff;
  margin: 25px auto 10px;
  width: 10%;
  border-radius: 1px;
}

hr.spacer {
  border: none;
  margin-bottom: 30px;
}

a {
  color: #333;
  text-decoration: none;
}

a:visited {
  color: #333;
  text-decoration: none;
}

a.button {
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 10px 30px;
  margin: 20px;
  transition: background-color 0.5s;
}
a.button:hover {
  background-color: rgba(0, 206, 209, 0.9);
}

#quick-links {
  padding: 25px;
}

#contact-button {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  bottom: 200px;
  width: 200px;
}

/* ------------ HERO COVER IMAGE ------------ */

.cover-image {
  background-image: url("../img/designer-on-mac.png"); /* Replace the URL with your image */
  background-size: cover;
  background-position: center;
  height: 768px; /* Adjust the initial height as needed */
  transition: height 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

/* Rotating hero */

#hero-container {
  /* position:fixed; */
  width: 100%;
  bottom: 45%;
  display: block;
}

#flip {
  height: 50px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 50px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: #ff7f00;
}
#flip div:first-child div {
  background: #007fff;
}
#flip div:last-child div {
  background: #00ced1;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

/* ------------ SECTION - ALL ------------ */

/* ------------ GREY SECTION CONTAINER ------------ */

section.grey-container {
  background-color: #333;
  padding-top: 90px;
  padding-bottom: 100px;
  /* Clip path arrow down */
  /* clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%); */
  height: 600;
}

/* ------------ WHITE SECTION CONTAINER ------------ */

section.white-container {
  margin-top: 90px;
  margin-bottom: 100px;
  color: #333;
}

/* ------------ BLUE SECTION CONTAINER ------------ */

section.contact {
  background-color: #007fff;
  padding-top: 90px;
  padding-bottom: 100px;
  /* clip-path: polygon(50% 0, 100% 10%, 100% 100%, 0 100%, 0 10%); */
}

/* ------------ COLUMNS FLEX LAYOUT ------------ */

/* ------------ SINGLE COLUMNS FLEX LAYOUT ------------ */

.container1 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.container-col1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  /* width: 80%; */
  max-width: 800px;
  border-radius: 10px;
}

.content-col1 {
  text-align: center;
  padding: 20px;
}

/* ------------ DOUBLE COLUMNS FLEX LAYOUT ------------ */
.container2 {
  margin: 0;
  padding: 0;
}

.container-col2 {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.container-grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid-item-portfolio {
  background-color: #ccc;
  padding: 30px;
  height: auto;
  border-radius: 5px;
  text-align: center;
  filter: drop-shadow(1px 1px 3px #141414);
}

/* ------------ TRIPLE COLUMNS FLEX LAYOUT ------------ */
.container3 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.container-col3 {
  max-width: 1200px;
  padding: 20px;
}

.container-grid3 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.grid-item-icons {
  flex: 1;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}

.grid-item-icons img {
  max-width: 100%;
  height: auto;
}

/* ------------ PAGE - INDEX SUMMARY ------------ */

/* IMAGE ATTRIBUTES */
.iconattributes {
  filter: opacity(90%);
  width: 40%;
}

/* ------------ SKILLS SECTION ------------ */

.container6 {
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: center;
  margin-top: 24px;
  display: flex;
}

.container-col6 {
  width: 200px;
  color: #777;
  text-align: center;
}

/* Skill rating out of 5 */

.skillmeter {
  height: 10px;
  width: 100px;
  position: relative;
  left: 50%;
  margin-left: -50px;
  border-radius: 25px;
  padding: 1px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.five5 {
  background: #00ced1;
}

.four5 {
  background: linear-gradient(
    90deg,
    rgba(0, 206, 209, 1) 82%,
    rgba(112, 112, 112, 1) 94%
  );
}

.three5 {
  background: linear-gradient(
    90deg,
    rgba(0, 206, 209, 1) 65%,
    rgba(112, 112, 112, 1) 67%
  );
}

.two5 {
  background: linear-gradient(
    90deg,
    rgba(0, 206, 209, 1) 38%,
    rgba(112, 112, 112, 1) 42%
  );
}

.one5 {
  background: linear-gradient(
    90deg,
    rgba(0, 206, 209, 1) 18%,
    rgba(112, 112, 112, 1) 22%
  );
}

/* ------------ MENU NAVIGATION ------------ */

.p-menu1 {
  height: 250px;
}

/* Hamburger */
.hamburger1 {
  position: fixed;
  top: 5px;
  right: 5px;
  height: 45px;
  padding: 10px;
  right: 30px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: right;
  z-index: 120;
}

.hamburger1 div {
  background-color: rgb(0, 206, 209);
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 220px;
  width: 200px;
  float: right;
}

/*  Menu */
.menu1 {
  width: 200px;
  background-color: #fff;
  position: fixed;
  top: 5px;
  right: 25px;
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 10px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  z-index: 120;
  filter: drop-shadow(1px 1px 5px #141414);
  -webkit-transition: all 0.5s ease;
  transition: all 0.3s ease;
  z-index: 100;
}

.menu1 a:first-child {
  margin-top: 40px;
}

.menu1 a:last-child {
  margin-bottom: 40px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font-size: 1.5em;
}

.link1:hover {
  color: #00ced1;
  font-weight: bold;
  font-size: 1.8em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
  .cover-image {
    height: 650px;
  }

  .container-col3 {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .container-col6 {
    grid-template-columns: 2fr;
  }

  .container-grid2 {
    grid-template-columns: 1fr;
    width: 80%;
  }
}

/* ------------ FOOTER ------------ */

header,
footer {
  font-size: 0.8em;
  color: #333;
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
}

footer a {
  padding: 30px;
  color: #333;
}
footer a:visited {
  color: #777;
}
footer a:hover {
  color: #ff7f00;
}

/* *:not(path):not(g) {
    color: hsla(210, 100%, 100%, 0.9) !important;
    background: hsla(210, 100%, 50%, 0.5) !important;
    outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
    box-shadow: none !important;
    } */
